.kapital{
	text-transform: uppercase;
}

.kapital-each-word {
	text-transform: capitalize;
}

.ilang {
	display: none;
}

.text-kanan {
	text-align: right;
}

.text-tengah {
	text-align: center;
}

.bener {
	margin-bottom: 2rem;
}